html{
    min-height: 100%;
}

body{
    /*background-color: #9966CC;*/
    background-image: -webkit-linear-gradient(bottom, #D8BFD8 0%, white 100%);
    background-image:      -o-linear-gradient(bottom, #D8BFD8 0%, white 100%);
    background-image: -webkit-gradient(linear, bottom, right top, from(#D8BFD8), to(white));
    background-image:         linear-gradient(to top, #D8BFD8 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
    max-width: 100%;  
/*    background-image: url("../images/tlo2.png");
    background-size: cover;*/
}

.obrazek{
    min-height: 100%;
    position: absolute;
    opacity: 0.2;
    z-index: -200;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a{
    color: #8E236B;
}

.tlo{
    position: absolute;
    background-image: url("../images/tlo.png");
    background-position: top;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    opacity: 0.2;
    z-index: -100;
}

#navAndSlider nav{
    width: 70%;
    height: 30px;
    /*background-color: mediumorchid;*/
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#navAndSlider nav ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

#onas p{
    text-align: center;
    line-height: 25px;
}

/*ZDJĘCIA OKRĄGŁE*/
.img-center {
    margin: 0 auto;
}

.img-circle-main{
    border-radius: 200px;
}

/*FORM*/
.img-circle-katalog{
    border-radius: 50px;
}
.img-shadow{
    box-shadow: 0px 0px 25px grey;
}
.btn-katalog{
    padding: 25px 20px 25px 20px;
}

/*CZCIONKI*/
@font-face{
    font-family: nice;
    src: url(../fonts/absolut1.ttf);
}

.nice{
    font-family: nice;
}

/*PROGRESS BAR*/
.progressbar {
    height: 2px;
    width: 10%;
    margin: 20% 45% 0 45%;
    position: absolute;
    z-index: 1001;
}
.progressbar > svg {
    height: 2px;
    display: block;
}

.loading-mask {
    background-color: whitesmoke;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/*RESPOSNIVE*/
@media(max-width: 450px){
    .navbar-brand{
        margin-left: 0;
        padding-left: 0;
        height: 80px;
    }
}

/*NO-JS*/
.no-js .loading-mask{
    display: none;
}

.no-js #sliders{
    display: none;
}

.no-js #onas p{
    text-align: center;
}

/*FIREFOX*/
.ff .btn-link{
    margin: 10px;
    background: black;
}
